@page "/Categories/Create"
@rendermode InteractiveServer
@using BlazorWeb.Models
@using BlazorWeb.Services.categories
@inject ICategoryService CategoryService

<h3>Create</h3>
<EditForm Model="category" FormName="createCategory" OnValidSubmit="SaveCategory">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name: </label>
        <InputText @bind-Value="category.Name"/>
        <ValidationMessage For="() => category.Name"/>
    </div>
    
    <div class="form-group">
        <label>Description: </label>
        <InputText @bind-Value="category.Description"/>
        <ValidationMessage For="() => category.Description"/>
    </div>
    
    <div class="form-group">
        <button class="btn btn-primary" type="submit">
            Save
        </button>
    </div>
</EditForm>

@code {
    public Category category = new Category();
    [Inject] NavigationManager _navigationManager { get; set; }

    private async Task SaveCategory()
    {
        await CategoryService.CreateCategoryAsync(category);
        _navigationManager.NavigateTo("/Categories", true);
    }
}